body {
  font-family: sans-serif;
}

.space .group .point_circle {
	stroke: rgb(0, 0, 0);
	stroke-width: 2px;
}

.space .point .point_circle {
	stroke: rgb(221, 0, 51);
}

/* +Group, point and graph colours */
.group_0 {
	fill: rgba(10, 20, 221, 0.5);
  background-color: rgba(10, 20, 221, 0.5);
}
path.line.entity_line_0 {
  stroke: rgba(10, 20, 221, 0.5);
}

.group_1 {
	fill: rgba(0, 181, 51, 0.5);
  background-color: rgba(0, 181, 51, 0.5);
}
path.line.entity_line_1 {
  stroke: rgba(0, 181, 51, 0.5);
}

.group_2 {
	fill: rgba(160, 10, 10, 0.5);
  background-color: rgba(160, 10, 10, 0.5);
}
path.line.entity_line_2 {
  stroke: rgba(160, 10, 10, 0.5);
}

.group_3 {
	fill: rgba(190, 180, 0, 0.5);
  background-color: rgba(190, 180, 0, 0.5);
}
path.line.entity_line_3 {
  stroke: rgba(190, 180, 0, 0.5);
}

.group_4 {
	fill: rgba(150, 1, 180, 0.5);
  background-color: rgba(150, 1, 180, 0.5);
}
path.line.entity_line_4 {
  stroke: rgba(150, 1, 180, 0.5);
}
/* -Group, point and graph colours */


.space g text {
	stroke: rgb(70, 70, 70);
  font-family: sans-serif;
  font-weight: 100;
}


#parameters {
  border-collapse: collapse;
}
#parameters td {
	border: thin solid rgb(150, 150, 150);
	padding: 0px 4px;
}

#status {
	padding: 1px 3px;
	border: thin solid rgb(165, 161, 161);
	background-color: rgb(0, 158, 0);
	border-radius: 3px;
}
#status.stopped {
	background-color: rgb(250, 0, 0);
}

/* +Graphs */
path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
}
/* -Graphs */

